<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Rendering:GraphicSystem" value="Text" />
		<!--<add key="Rendering:GraphicSystem" value="T2D" />-->
		<!--<add key="Rendering:GraphicSystem" value="T3D" />-->
		<add key="Rendering:Resolution" value="80x25"/>
	</appSettings>
</configuration>